body {
    margin: 0;
  }
.container {
    margin-top:100px;
    margin-left:300px;
    border:1px solid black;
    display: grid;
    width:100vw;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Each column should have a minimum width of 200px */
    gap: 34px; /* Adjust the gap between cards as needed */
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
  }